@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: Googlesansregular;
    src: url("./fonts/GoogleSans/ProductSans-Regular.ttf");
  }
  @font-face {
    font-family: Googlesansbold;
    src: url("./fonts/GoogleSans/ProductSans-Bold.ttf");
  }
}
* {
  padding: 0;
  margin: 0;
}
@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
}
